<<<<<<< HEAD
@n: "\f0b1";
@nne: "\f0b1";
@ne: "\f0b1";
@ene: "\f0b1";
@e: "\f0b1";
@ese: "\f0b1";
@se: "\f0b1";
@sse: "\f0b1";
@s: "\f0b1";
@ssw: "\f0b1";
@sw: "\f0b1";
@wsw: "\f0b1";
@w: "\f0b1";
@wnw: "\f0b1";
@nw: "\f0b1";
@nnw: "\f0b1";
@n: "\f0b1";
@nne: "\f0b1";
@ne: "\f0b1";
@ene: "\f0b1";
@e: "\f0b1";
@ese: "\f0b1";
@se: "\f0b1";
@sse: "\f0b1";
@s: "\f0b1";
@ssw: "\f0b1";
@sw: "\f0b1";
@wsw: "\f0b1";
@w: "\f0b1";
@wnw: "\f0b1";
@nw: "\f0b1";
=======
@n: "\f0b1";
@nne: "\f0b1";
@ne: "\f0b1";
@ene: "\f0b1";
@e: "\f0b1";
@ese: "\f0b1";
@se: "\f0b1";
@sse: "\f0b1";
@s: "\f0b1";
@ssw: "\f0b1";
@sw: "\f0b1";
@wsw: "\f0b1";
@w: "\f0b1";
@wnw: "\f0b1";
@nw: "\f0b1";
@nnw: "\f0b1";
@n: "\f0b1";
@nne: "\f0b1";
@ne: "\f0b1";
@ene: "\f0b1";
@e: "\f0b1";
@ese: "\f0b1";
@se: "\f0b1";
@sse: "\f0b1";
@s: "\f0b1";
@ssw: "\f0b1";
@sw: "\f0b1";
@wsw: "\f0b1";
@w: "\f0b1";
@wnw: "\f0b1";
@nw: "\f0b1";
>>>>>>> 3e59314b528c9d26478d3a4a736c5caa1171adf3
@nnw: "\f0b1";