<<<<<<< HEAD
// Theme colors
#main-wrapper{
  
        /*This is for the logo bg*/
        .topbar .top-navbar .navbar-header{
            &[data-logobg="skin5"]{
                background: $skin5;
            }
        }
        .topbar .navbar-collapse, .topbar{
            &[data-navbarbg="skin5"]{
                background: $skin5;
            }
        }
        /*This is for the sidebar bg*/
        .left-sidebar{
            &[data-sidebarbg="skin5"], &[data-sidebarbg="skin5"] ul{
                background: $skin5;
                .create-btn {
                    background: $cyan;
                }
            }
        }
 
}
=======
// Theme colors
#main-wrapper{
  
        /*This is for the logo bg*/
        .topbar .top-navbar .navbar-header{
            &[data-logobg="skin5"]{
                background: $skin5;
            }
        }
        .topbar .navbar-collapse, .topbar{
            &[data-navbarbg="skin5"]{
                background: $skin5;
            }
        }
        /*This is for the sidebar bg*/
        .left-sidebar{
            &[data-sidebarbg="skin5"], &[data-sidebarbg="skin5"] ul{
                background: $skin5;
                .create-btn {
                    background: $cyan;
                }
            }
        }
 
}
>>>>>>> 3e59314b528c9d26478d3a4a736c5caa1171adf3
