<<<<<<< HEAD
/* The customcheckbox */
.customcheckbox {
  display: block;
  position: relative;
  padding-left: 24px;
  font-weight: 100;
  /*margin-bottom: 12px;*/
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.customcheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #CDCDCD;
  border-radius: 6px; }

/* On mouse-over, add a grey background color */
.customcheckbox:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.customcheckbox input:checked ~ .checkmark {
  background-color: #2196BB; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.customcheckbox input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.customcheckbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.check-1 {
  margin-top: 12px;
=======
/* The customcheckbox */
.customcheckbox {
  display: block;
  position: relative;
  padding-left: 24px;
  font-weight: 100;
  /*margin-bottom: 12px;*/
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.customcheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #CDCDCD;
  border-radius: 6px; }

/* On mouse-over, add a grey background color */
.customcheckbox:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.customcheckbox input:checked ~ .checkmark {
  background-color: #2196BB; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.customcheckbox input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.customcheckbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.check-1 {
  margin-top: 12px;
>>>>>>> 3e59314b528c9d26478d3a4a736c5caa1171adf3
  margin-left: 14px; }