<<<<<<< HEAD
4.checkbox.switcher label, div.radio.switcher label {
=======
.checkbox.switcher label, div.radio.switcher label {
>>>>>>> 3e59314b528c9d26478d3a4a736c5caa1171adf3
  padding: 0;
}
.checkbox.switcher label *, div.radio.switcher label * {
  vertical-align: middle;
}
.checkbox.switcher label input, div.radio.switcher label input {
  display: none;
}
.checkbox.switcher label input + span, div.radio.switcher label input + span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 17px;
    background: #e8e5e5;
    border: 1px solid #eee;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    vertical-align: sub;
}
.checkbox.switcher label input + span small, div.radio.switcher label input + span small {
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    background: #fff;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    left: 0;
}
.checkbox.switcher label input:checked + span, div.radio.switcher label input:checked + span {
  background: #269bff;
  border-color: #269bff;
}
.checkbox.switcher label input:checked + span small, div.radio.switcher label input:checked + span small {
  left: 62%;
}

.select2-container .select2-selection--single {
    height: 35px !important;
    border: 1px solid #e9ecef !important;
}
table{
    white-space: nowrap;
}

.template-field-list ul{
    padding: 0;
    list-style: none;
}
.template-field-list ul li{
    display: inline-block;
}
<<<<<<< HEAD

=======
>>>>>>> 3e59314b528c9d26478d3a4a736c5caa1171adf3
.sms-box .sms-group{padding:10px 0px 0px; margin-bottom:10px;}
.sms-box .sms-group:nth-child(even){background:#f9f9f9;}
.sms-box .sms-group:last-child{margin-bottom:0px;}
.page-breadcrumb.sms-heading{padding:20px 0px 0px;}
.sms-box .sms-group textarea{height:100px;}

<<<<<<< HEAD
.anychart-credits {
    display: none !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #f95656 !important;
    border: 1px solid #fff  !important;
    border-radius: 3px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 8px !important;
    padding: 1px 8px;
    color: #fff;
    font-size: 12px;
    
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin-right: 2px;
}
=======
>>>>>>> 3e59314b528c9d26478d3a4a736c5caa1171adf3
