/*================- Variables Starts ================-*/
:root {
    --primary             : #7571f9;
    --secondary           : #5c5abc;
    --black               : #464a53;
    --darkblack           : #080808;
    --white               : #fff;
    --danger              : #dc3545;
    --success             : #28a745;
    --blue                : #17a2b8;
    --yellow           : #ffb848;
    --cyan             : #27a9e3;
    --graylight           : #F3F1FA;
    --graydark            : #ccc;
    --bg-color            : #f5f5f5;
    --text-color          : #494949;
    --gradient-purple     : linear-gradient(230deg, #759bff, #843cf6);
    --gradient-pink       : linear-gradient(230deg, #fc5286, #fbaaa2);
    --gradient-orange     : linear-gradient(230deg, #ffc480, #ff763b);
    --gradient-blue       : linear-gradient(230deg, #0e4cfd, #6a8eff);
    --gradient-orangelight: linear-gradient(to right, #ff7e5f, #feb47b);
}

/*================- Variables Ends ================-*/
body,
html {
    background : #f5f5f5;
    color      : var(--black);
    font-family: 'Quicksand', sans-serif;
    font-size  : 14px;
    line-height: 1.5;
    font-weight: 500;
}

a {
    color: var(--primary);
}

a:hover {
    color             : var(--secondary);
    /* font-weight    : 600; */
    text-decoration   : none;
}

ul,
ol {
    margin : 0;
    padding: 0;
}

ul li,
ol li {
    list-style-type: none;
}

.flex {
    display    : flex;
    align-items: center;
    flex-wrap  : wrap;
}

label {
    font-size: 14px;
    color    : var(--darkblack);
    display  : block;
}

label[for='blank'] {
    height : 20px;
    display: block;
    width  : 100%;
}

.sidebar_toggler .bars {
    height       : 3px;
    width        : 27px;
    background   : var(--text-color);
    display      : block;
    border-radius: 25px;
}

.sidebar_toggler .bars:nth-of-type(even) {
    margin: 5px 0;
}

.sidebar_toggler {
    cursor : pointer;
    padding: 5px;
}

/* ==============================custom scrollbar============================ */
.table-responsive::-webkit-scrollbar {
    height: 4px;
}

.table-responsive::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    outline         : 1px solid var(--secondary);
}

/* ==============================custom scrollbar============================ */
/* ==============================Table Start============================ */
.table-responsive thead tr th {
    background    : var(--secondary);
    color         : #fff;
    font-weight   : 600;
    letter-spacing: 0.5px;
}

.table td,
.table th {
    padding       : 10px;
    vertical-align: middle;
}

/* ==============================Table End============================ */


/* ===========================Page styling override=========================== */
#navbarSupportedContent,
#main-wrapper .topbar .top-navbar .navbar-header[data-logobg=skin5] {
    background: var(--bg-color) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
}

.sidebar-nav ul .sidebar-item .sidebar-link,
.sidebar-nav ul .sidebar-item .sidebar-link i {
    color  : var(--black);
    opacity: 1;
}

#main-wrapper .left-sidebar[data-sidebarbg=skin5],
#main-wrapper .left-sidebar[data-sidebarbg=skin5] ul {
    background: var(--white);
}

.navbar-dark .navbar-nav .nav-link {
    display    : flex;
    align-items: center;
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link i {
    margin-left : 0;
    margin-right: 10px;
    font-size   : 22px;
    line-height : 22px;
}

.sidebar-nav ul .sidebar-item .first-level .sidebar-item .sidebar-link {
    color   : var(--black);
    padding : 8px 10px;
    position: relative;
    width   : 100%;
    display : block;
    border  : none;
    cursor  : pointer;
}

.sidebar-nav .has-arrow:after {
    border-width: 2px 0 0 2px;
    border-color: #000;
}


.sidebar-nav ul .sidebar-item>.sidebar-link:after {
    top: 50%;
}

ul#sidebarnav li.sidebar-item>a.sidebar-link.has-arrow {
    padding   : 12px 10px;
    display   : flex;
    background: inherit;
}

.left-sidebar[data-sidebarbg=skin5] nav.sidebar-nav ul#sidebarnav {
    padding      : 0 !important;
    border-bottom: 1px solid #ededed;
}

ul#sidebarnav li.sidebar-item>a.sidebar-link.has-arrow:hover,
/* .sidebar-nav ul .sidebar-item.selected>.sidebar-link, */
ul#sidebarnav li.sidebar-item>a.sidebar-link.has-arrow.active {
    background  : var(--bg-color);
    border-color: var(--primary) !important;
}

ul#sidebarnav li.sidebar-item>a.sidebar-link.has-arrow>i {
    margin-right: 10px;
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover i,
.sidebar-nav ul .sidebar-item .sidebar-link:hover,
.sidebar-nav ul .sidebar-item .sidebar-link:hover:after,
.sidebar-nav ul .sidebar-item .sidebar-link:hover span {
    color       : var(--black);
    border-color: var(--black);
    background  : var(--bg-color);
}

.sidebar-nav ul .sidebar-item .sidebar-link:hover:after {
    background: transparent;
}

.left-sidebar[data-sidebarbg=skin5] nav.sidebar-nav ul#sidebarnav ul.collapse {
    padding: 0 0 0 30px;
}

.topbar .top-navbar .navbar-nav>.nav-item>.nav-link {
    font-size: 22px;
    color    : var(--black)
}

/*====================Breadcrumb Starts====================*/
ol.breadcrumb {
    background     : transparent;
    margin         : 0;
    text-align     : right;
    justify-content: flex-end;
    padding        : 0;
    width          : 50%;
}

ol.breadcrumb li {
    padding   : 4px 20px 4px 10px;
    position  : relative;
    color     : #000;
    background: #f5f5f5;
}

ol.breadcrumb li:after {
    position: absolute;
    content : '/';
    right   : 0;
    top     : auto;
}

ol.breadcrumb li:last-child::after {
    display: none;
}

ol.breadcrumb li a {
    color: #000;
}

/*====================Breadcrumb Ends====================*/

/* page styling new */
.preloader {
    display: none;
}

.page-breadcrumb {
    padding      : 0;
    background   : var(--white);
    margin-bottom: 10px;
    padding      : 10px 25px;
    border-radius: 5px 5px 0 0;
}

.page-breadcrumb+.container-fluid {
    padding: 0;
}

.card {
    margin-bottom: 10px;
    padding      : 25px;
    background   : none;
    background   : var(--white);
}

.card-body {
    padding: 0;
}

h4.page-title {
    font-weight: 700;
    font-size  : 24px;
    line-height: 35px;
    width      : 50%;
}

ol.breadcrumb {
    background     : transparent;
    margin         : 0;
    text-align     : right;
    justify-content: flex-end;
    padding        : 0;
    width          : 50%;
}

.card_outer {
    background   : var(--white);
    margin-bottom: 15px;
    padding      : 20px;
}

.form-control {
    height       : 40px;
    border       : 1px solid var(--graydark);
    border-radius: 2px;
}

.form-control:active,
.form-control:focus,
.select2-container--default .select2-selection--multiple:active,
.select2-container--default .select2-selection--multiple:focus {
    border-color : var(--graydark) !important;
    border-bottom: 2px solid var(--black) !important;
}

.search_btn {
    width        : auto;
    margin-right : 2%;
    margin-top   : 20px;
    padding      : 10px 40px;
    border-radius: 2px;
    font-size    : 14px;
    background   : var(--primary);
    border-color : var(--primary);
}

.search_btn:hover {
    background  : var(--secondary);
    border-color: var(--secondary);
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: inherit;
}

.select2.select2-container--default .select2-selection--multiple {
    border: 1px solid var(--graydark);
}

.card_outer>.row>div .card {
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow   : 3px 3px 11px -1px rgb(0 0 0 / 33%);
}

.card_outer>.row>div:nth-last-of-type(1) .card {
    background: linear-gradient(230deg, #759bff, #843cf6);
}

.card_outer>.row>div:nth-last-of-type(2) .card {
    background: linear-gradient(230deg, #fc5286, #fbaaa2)
}

.card_outer>.row>div:nth-last-of-type(3) .card {
    background: linear-gradient(230deg, #ffc480, #ff763b);
}

.card_outer>.row>div:nth-last-of-type(4) .card {
    background: linear-gradient(230deg, #0e4cfd, #6a8eff);
}

.card_outer>.row>div:nth-last-of-type(5) .card {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

.card_outer>.row>div .card .box {
    height         : 100%;
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    min-height     : 130px;
}

.card_outer>.row>div .card .box h1 {
    font-size  : 60px;
    line-height: 70px;
    color      : var(--white);
}

.card_outer>.row>div .card .box h6 {
    font-size  : 16px;
    font-weight: 600;
    line-height: 26px;
}


.rounded {
    
    background   : var(--white);
    box-shadow   : none !important;
}

.chart_box h4.card-title {
    margin-bottom: 10px;
    font-size    : 16px;
    background   : var(--white);
    padding      : 15px;
    border-radius: 5px 5px 0 0;
}

.footer {
    background  : var(--white);
    margin-left : 20px;
    margin-right: 20px;
}

.graph_data_outer {
    display      : flex;
    flex-wrap    : wrap;
    /* margin-top: 60px; */
}

.graph_data_box {
    width: 100%;
}

.graph_data_outer .graph_data_box>div {
    background     : var(--white);
    padding        : 14px 10px;
    margin-bottom  : 15px;
    border-radius  : 2px;
    display        : flex;
    justify-content: center;
}

.graph_data_outer .graph_data_box h5 {
    font-size    : 28px;
    line-height  : 35px;
    margin-right : 20px;
    margin-bottom: 0;
}

.graph_data_outer .graph_data_box small {
    font-size  : 12px;
    line-height: 20px;
    margin-top : 6px;
    display    : block;
    font-weight: 500
}

.btn-circle {
    width          : 30px;
    height         : 30px;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.mailbox {
    padding: 0;
}

.mailbox ul.list-style-none li a {
    padding: 0;
}

.mailbox ul.list-style-none li a:hover {
    color     : var(--primary);
    background: var(--bg-color);
}

.left-sidebar,
.topbar .top-navbar .navbar-header,
.topbar .top-navbar .navbar-header .navbar-brand {
    width: 300px !important;
}

#main-wrapper[data-sidebartype=full] .page-wrapper {
    margin-left: 300px;
}

.left-sidebar[data-sidebarbg=skin5] nav.sidebar-nav ul#sidebarnav ul.collapse.second-level {
    padding-left: 37px !important;
}

.left-sidebar[data-sidebarbg=skin5] nav.sidebar-nav ul#sidebarnav ul.collapse.second-level li a {
    padding-left: 0;
    display     : flex;
    align-items : center;
    white-space : normal;
    font-size   : 14px;
    line-height : 20px;
}

.graph_outer .card {
    padding   : 0;
    background: transparent;
}

.filter_outer .card {
    background   : var(--white);
    margin-bottom: 15px;
}

.action .fa {
    font-size      : 17px;
    height         : 25px;
    width          : 25px;
    min-width      : 30px;
    padding        : 0;
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    border         : 1px solid;
}

.action .fa {
    font-size      : 14px;
    height         : 30px;
    width          : 30px;
    padding        : 0;
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    border         : 1px solid;
    color          : var(--white);
}

.fa-eye {
    background: var(--success);
}

.fa-pencil {
    background: var(--blue);
}

.fa-comments {
    background: var(--yellow);
}

.fa-bar-chart {
    background: var(--cyan);
}

.fa-gavel {
    background: var(--danger);
}

.form-switch {
    padding-left   : 0;
    text-align     : center;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

.form-check-input {
    background-color: var(--danger);
}

.form-switch .form-check-input {
    margin         : 0;
    float          : none;
    height         : 23px;
    width          : 50px;
    background-size: 19px;
    border-radius  : 25px;
}

.form-check-input:checked {
    background-color: var(--success);
    border-color    : var(--success);
}