<<<<<<< HEAD
// Wind Variables 2.0

$wind: "\f0b1";

.#{$wi-css-prefix}-wind:before { content: $wind; }

@mixin wind-rotate( $val: 0deg ) {
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
  -ms-transform: rotate($val);
  -o-transform: rotate($val);
  transform: rotate($val);
}

=======
// Wind Variables 2.0

$wind: "\f0b1";

.#{$wi-css-prefix}-wind:before { content: $wind; }

@mixin wind-rotate( $val: 0deg ) {
  -webkit-transform: rotate($val);
  -moz-transform: rotate($val);
  -ms-transform: rotate($val);
  -o-transform: rotate($val);
  transform: rotate($val);
}

>>>>>>> 3e59314b528c9d26478d3a4a736c5caa1171adf3
@import "classes-wind-degrees.scss";