<<<<<<< HEAD
// Wind Variables 2.0

@wind: "\f0b1";

.@{wi-css-prefix}-wind:before { content: @wind; }
.wind-rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
  -moz-transform: rotate(@degrees);
  -ms-transform: rotate(@degrees);
  -o-transform: rotate(@degrees);
  transform: rotate(@degrees);
}

=======
// Wind Variables 2.0

@wind: "\f0b1";

.@{wi-css-prefix}-wind:before { content: @wind; }
.wind-rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
  -moz-transform: rotate(@degrees);
  -ms-transform: rotate(@degrees);
  -o-transform: rotate(@degrees);
  transform: rotate(@degrees);
}

>>>>>>> 3e59314b528c9d26478d3a4a736c5caa1171adf3
@import "classes-wind-degrees.less";