<<<<<<< HEAD
// Fixed Width Icons
// -------------------------
.#{$fa-css-prefix}-fw {
  text-align: center;
  width: (20em / 16);
}
=======
// Fixed Width Icons
// -------------------------
.#{$fa-css-prefix}-fw {
  text-align: center;
  width: (20em / 16);
}
>>>>>>> 3e59314b528c9d26478d3a4a736c5caa1171adf3
