<<<<<<< HEAD
/*******************/
/*Comment widgets*/
/*******************/

.comment-widgets {
    position: relative;
    margin-bottom: 10px;
    .comment-row {
        border-bottom:1px solid transparent;
        padding: 14px;
        display: flex;
        margin: 10px 0;
        &:last-child{
            border-bottom:0px;
        }
        &:hover,
        &.active {
            background:$transparent-dark-bg; 
        }
    }
}

.comment-text {
    padding-left: 15px;
    p {
        max-height: 65px;
        width:100%;
        overflow: hidden;
        
    } 
=======
/*******************/
/*Comment widgets*/
/*******************/

.comment-widgets {
    position: relative;
    margin-bottom: 10px;
    .comment-row {
        border-bottom:1px solid transparent;
        padding: 14px;
        display: flex;
        margin: 10px 0;
        &:last-child{
            border-bottom:0px;
        }
        &:hover,
        &.active {
            background:$transparent-dark-bg; 
        }
    }
}

.comment-text {
    padding-left: 15px;
    p {
        max-height: 65px;
        width:100%;
        overflow: hidden;
        
    } 
>>>>>>> 3e59314b528c9d26478d3a4a736c5caa1171adf3
}